:root {
    --bg-primary: #060607; 
    --accent-primary: #70263d;
    --accent-secondary: #A33951;
    --accent-light: #8B1E3F;
    --text-primary: #030303;
    --text-secondary: #cbd5e1;
}

[data-theme="light"] {
  --bg-primary: #f4f1ed;
  --text-primary: #241418;
  --text-secondary: #6b5c60;
}


body{
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-primary);
    color: var(--text-primary);
}

a{
    text-decoration: none;
    color: var(--accent-primary);
    transition: 0.3s ease;
}

a:hover{
    color: var(--accent-secondary);
}